%br
%p
  Construido con
  %a{:href => "http://getbootstrap.com/"} Bootstrap 3
  y
  %a{:href => "http://rubyonrails.org/"} Rails 4
%p= "&copy;#{Date.today.year} Sistema Educativo por Angello Gordillo Montalvo".html_safe
